<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <title>Dundee - Where are the allygators?</title>
</head>
  <body style="height: 100%; margin: 0; padding: 0;">
    <div id="map" style="height: 100%;"></div>
    <script>
      function initializeMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 52.53, lng: 13.403}
        });
        markers = [];
        markerCluster = null;
        getLocations(map, markers, markerCluster);
      };

      function getLocations(map, markers, markerCluster) {
        var requestURL = '/locations';
        var request = new XMLHttpRequest();
        request.open('GET', requestURL);
        request.responseType = 'json';
        request.send();
        request.onload = function() {
          var vehicles = request.response;

          for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
            markerCluster.removeMarker(markers[i]);
          }
          markers = vehicles.map(function(vehicle, i) {
            return new google.maps.Marker({
              position: {lat: parseFloat(vehicle['lat']), lng: parseFloat(vehicle['lng'])},
              label: vehicle['uuid'].substring(0, 3),
              map: map
            });
          });
          markerCluster = new MarkerClusterer(map, markers, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          setTimeout(getLocations, 3000, map, markers, markerCluster);
        }
      };
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCti01yc239Tm5IufN-136AMyPQptLdD-Q&callback=initializeMap"></script>
  </body>
</html>
